# Bonus: Temperature Analysis I

In [41]:
import pandas as pd
from datetime import datetime as dt

In [10]:
# "tobs" is "temperature observations"
climate_df = pd.read_csv('./Resources/hawaii_measurements.csv')
climate_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [23]:
# Convert the date column format from string to datetime
climate_df["date"] = pd.to_datetime(climate_df["date"], format="%Y-%m-%d")

In [115]:
# Set the date column as the DataFrame index
climateDated_df = climate_df.set_index('date').head()
climateDated_df

                station  prcp  tobs    month
date
2010-01-01  USC00519397  0.08    65  January
2010-01-02  USC00519397  0.00    63  January
2010-01-03  USC00519397  0.00    74  January
2010-01-04  USC00519397  0.00    76  January
2010-01-06  USC00519397   NaN    73  January

In [22]:
# Drop the date column
stationData_df = climate_df[['station','prcp','tobs']].head()

### Compare June and December data across all years

In [24]:
from scipy import stats

In [75]:
# Filter data for desired months
climate_df['month'] = climate_df['month']
tempAvgs_df = climate_df[['month','tobs']].groupby('month').mean()
desiredMonths_df = tempAvgs_df.loc[['June','December'],:]
desiredMonths_df

               tobs
month
June      74.944118
December  71.041529

In [82]:
# Identify the average temperature for June
juneTemps_df = desiredMonths_df.loc['June',:]
juneMean = round(juneTemps_df[0],1)
print(f"The avg temp for June is {juneMean} deg.")

The avg temp for June is 74.9 deg.

In [84]:
# Identify the average temperature for December
decTemps_df = desiredMonths_df.loc['December',:]
decMean = round(decTemps_df[0],1)
print(f"The avg temp for December is {decMean} deg.")

The avg temp for December is 71.0 deg.

In [118]:
# Create collections of temperature data
juneData = climate_df[['month','tobs']].set_index('month').loc['June',:].tail(1517)
juneTemps = list(juneData['tobs'])

decData = climate_df[['month','tobs']].set_index('month').loc['December',:]
decTemps = list(decData['tobs'])
# len(juneTemps)
# len(decTemps)

In [119]:
# Run paired t-test
stats.ttest_rel(juneTemps,decTemps)

Ttest_relResult(statistic=31.260481285559145, pvalue=5.498241216335463e-166)

### Analysis

For this analysis, a paired t-test was used to compare the means of the two samples due to the fact that the sample stations appear in both the June and December temperature samples. The null hypotheses for this dataset is that there is no significant diffference between the means of June and December temperatures. With a **p-value of 5.49e-166**, the *test supports the alternative hypotheses that there is high significance to difference* in June and December means.